@media (max-width: 1003px) { /* Schermo Telefono */
	.main-container {grid-template-rows: 50% 50%;} /* Options + Table */
	html.not-iframe .main-container .to_do_list-container {margin: 20px;}
	.notes-container {margin-top: 25px;} th[mobile="0"] {display: none;}
	.to_do-container .checkmark {scale: 2;}
	.to_do-container .text {margin: 0 0 0 15px;}
	.to_do-input-container.notes-input-ct {margin-bottom: 20px;}
	.notes-elements {margin-top: 15px;} .notes-elements:has(.note) {padding: 20px; gap: 17.5px;}
	.notes-elements .note {flex: 1 1 45%;}
}
@media (min-width: 1003px) { /* Schermo PC */
	.main-container {grid-template-columns: 45% 55%} /* Options + Table */
	html.not-iframe .main-container .to_do_list-container {margin: 20px 0 20px 20px;}
	html:not(.not-iframe) .main-container .notes-container {margin-left: 20px;}
	.to_do-container .text {margin: 0;}
	.notes-elements:has(.note) {padding: 10px; gap: 7.5px;}
	.notes-elements .note {flex: 1 1 25%;}
}
*::-webkit-scrollbar {
	display: none;
}
* {transition: all 0.25s ease;}
body {background-color: #ffffff00;}
body, html {
	height: 100%;
	font-family: var(--font-family);
	color: var(--font-color);
	margin: 0;
}

html.not-iframe .main-container {width: 100%; row-gap: 0;}
html:not(.not-iframe) .main-container {width: 95%; border-radius: 25px;}

html.not-iframe .main-container .notes-container {margin: 20px}

.main-container {
	overflow: auto;
	display: grid;
	height: 100%;
	background-color: var(--containers-bg-color);
	margin: auto;
}

.to_do_list-container {
	border-radius: 25px;
	background-color: var(--secondary-bg-color);
	padding: 17.5px;
	overflow: auto; 
}
.notes-container {
	border-radius: 25px;
	background-color: var(--secondary-bg-color);
	padding: 17.5px;
	overflow: auto; 
}


.title {
	font-size: var(--XM-font-size); color: var(--font-color);
	font-weight: bold;
	margin: 0 0 12.5px 0;
}

/* To-Do List Input */
.to_do-input-container {
	display: flex; justify-content: space-between;
	margin-bottom: 10px;
}
.to_do-button {
	background-color: var(--font-color); color: var(--inv-color);
	font-size: var(--small-font-size);
	border: 0; border-radius: 50px;
	padding: 7.5px; cursor: pointer;
	font-weight: bold;
}
.to_do-button:disabled {background-color: var(--elm-font-color);}
.to_do-input {
	color: var(--font-color); font-size: var(--small-font-size);
	background-color: var(--secondary-bg-color);
	border: 0; width: 60%;
} .to_do-input:focus {outline: none;}

/* To-Do List */
.to_do-elements {
	display: flex; justify-content: space-between;
	margin-bottom: 15px;
	align-items: center;
}
.close {
	cursor: pointer;
	margin-left: 7.5px;
	font-size: var(--small-font-size);
}
.to_do-container {
	display: flex; align-items: center;
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	color: var(--font-color); font-size: var(--small-font-size);
	width: 100%;
	line-break: anywhere;
}
.to_do-container input[type="checkbox"] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.to_do-container .checkmark {
	position: absolute;
	left: 0;
	height: 25px; width: 25px;
	border-radius: 6.5px;
	background-color: var(--check-button-color);
}
.to_do-container:hover input[type="checkbox"] ~ .checkmark {background-color: var(--check-button-hover-color);}

.to_do-container input[type="checkbox"]:checked ~ .checkmark {background-color: var(--selected-theme-bg-color);}
.to_do-container input[type="checkbox"]:checked ~ .text {text-decoration: line-through;}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.to_do-container input[type="checkbox"]:checked ~ .checkmark:after {
	display: block;
}
.to_do-container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid var(--font-color);
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}
/* --- */
/* Notes */
.notes-elements {
	display: flex; flex-wrap: wrap;
	width: 95%;
	background-color: var(--ver-hover-bg-color);
	border-radius: 12.5px;
	margin: auto;
}
.notes-elements .note {
	padding: 15px;
	font-size: var(--small-font-size);
	max-width: 100%;
	line-break: anywhere;
	background-color: var(--check-button-color);
	border-radius: 15px;

	display: flex;
	justify-content: space-between;
}

/* --- */