<!DOCTYPE html>
<html lang="it">
    <head>
        <title>Agenda</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static',filename='themes.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='pages/agenda.css') }}">
        <script src="{{ url_for('static',filename='pages/agenda.js') }}" type="text/javascript" defer></script>
        <link rel="icon" type="image/ico" href="{{ url_for('static',filename='img/favicon.ico') }}"/>
    </head>

    <body>

        <div class="main-container">
            
            <div class="to_do_list-container">
                <p class="title" style="margin-bottom: 15px;">&#8227; To-Do List</p>
                <div class="to_do-input-container">
                    <input id="todo-input" onkeydown="if (event.key === 'Enter' && this.value != '') addTodo()" oninput="domEl.TodoAddButton.disabled = this.value == ''" class="to_do-input" type="text" placeholder="Insert a To-Do tasks...">
                    <button id="todo-button" onclick="addTodo()" class="to_do-button" disabled>+ Add To-Do</button>
                </div>

                <div id="check-list">
                    {% for i in range(todoList | length) %}
                        <div class="to_do-elements">
                            <div onclick="switchTodo(this)" class="to_do-container">
                                <input id="todoIndex" type="hidden" value="{{ i }}">
                                <input id="todoState" type="checkbox" {{ todoList[i][1] }}>
                                <p id="todoText" class="text">{{ todoList[i][0] }}</p>
                                <span class="checkmark"></span>
                            </div>
                            <span onclick="deleteTodo(this)" class="close">&#x2715;</span>
                        </div>
                    {% endfor %}
                </div>

            </div>

            <div class="notes-container">
                <p class="title">&#8227; Notes</p>

                <div class="to_do-input-container notes-input-ct">
                    <input id="notes-input" onkeydown="if (event.key === 'Enter' && this.value != '') addNote()" oninput="domEl.NotesAddButton.disabled = this.value == ''" class="to_do-input" type="text" placeholder="Insert a note...">
                    <button id="notes-button" onclick="addNote()" class="to_do-button" disabled>+ Add Note</button>
                </div>

                <div class="notes-elements" id="notes-list">
                    {% for i in range(agendaList | length) %}
                        <div class="note">
                            <input type="hidden" value="{{ i }}">
                            <span>{{ agendaList[i] }}</span>
                            <span onclick="removeNote(this)" class="close">&#x2715;</span>
                        </div>
                    {% endfor %}
                </div>

            </div>


    </body>
</html>