:root {
    --btn-color: #ffffff;
    --btn-on-color: #cfcfcf;
    --canva-bg-color: #fff;
}

body {
    background-color: #ffffff00;
}
body, html {
    height: 100%;
    font-family: var(--font-family);
    color: var(--font-color);
    margin: 0;
    overscroll-behavior: none;
}
*::-webkit-scrollbar, #uploadObj {
    display: none;
}

.main-container {
    overflow: auto;

    transition: all 0.25s ease;
    height: 100%;
    background-color: var(--secondary-bg-color);
    margin: auto;
}

#eraseCursor {
  width: 20px; /* Must be the same as cursor width */
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  background-color: #ffffff00;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: .3;
}
#eraseCursor.active {
    background-color: #000000;
}


#canvas-el {
    height: 100%; width: 100%;
    display: block; 
    background-color: var(--canva-bg-color);
}

.buttons-container  {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;

    margin: 7.5px;
    position: fixed;
}
.buttons-container.top-right {
    top: 0; right: 0;
}
.buttons-container.top-left {
    top: 0; left: 0;
}

.button {
    width: calc(40px * var(--device-multiplier));
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--btn-color);
    margin: 5px;
    border-radius: 50%;

    cursor: pointer;
}
.buttons-container.top-left .button {
    border: 1.75px dashed black;
}
.button.on {
    background-color: var(--btn-on-color);
}
.button img {
    position: absolute;
    pointer-events: none;
    aspect-ratio: 1 / 1;
    width: calc(25px * var(--device-multiplier));
    filter: invert(1);
}
input[type="color"] {
    box-sizing: border-box;
    width: calc(40px * var(--device-multiplier)); height: auto;
    aspect-ratio: 1 / 1;
    
    appearance: none; 
    border: none; 
    padding: 0;
    background-color: #ffffff00;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}