@media (max-width: 1003px) { /* Schermo Telefono */
    .main-container {
        grid-template-columns: 1fr; 
        grid-template-rows: max-content max-content max-content max-content;
        grid-template-areas: "a" "b" "c" "d";}
    .video-insert {width: 300px; height: 300px; margin-left: 15px;}
    .text {margin-top: 10px;}
}
@media (min-width: 1003px) { /* Schermo PC */
    .main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "a c" "b d";
    }
    .video-insert {width: 175px; height: 175px; margin-left: 5px;}
}

body {
    background-color: #ffffff00;
}
body, html {
    height: 100%;
    font-family: var(--font-family);
    color: var(--font-color);
    margin: 0;
}
*::-webkit-scrollbar {
    display: none;
}

.main-container {
    row-gap: 2.5%;
    overflow: auto;

    transition: all 0.25s ease;
    display: grid;
    height: 100%;
    background-color: var(--secondary-bg-color);
    margin: auto;
}
html.not-iframe .main-container {
    height: 100%;
}
html:not(.not-iframe) .main-container {
    border-radius: 25px;
    width: 95%;
}
/* Containers */
.video-container {
    grid-area: a;
    margin-left: 25px;
}
.uncompressed-container {
    grid-area: b;
    margin-left: 25px; margin-bottom: 10px;
}
.options-container {
    grid-area: c;
    margin-left: 25px;
}
.compressed-container {
    grid-area: d;
    margin-left: 25px; margin-bottom: 10px;
}
/* Generic */
.title {
    font-size: var(--XXL-font-size);
    margin-bottom: 0;
}
.text {
    font-size: var(--medium-font-size);
}
video {
    width: 80%;
    border-radius: 7.5px;
}
.text-video {
    font-size: var(--X-font-size);
    font-weight: bold;
    width: max-content;
}
/* Container 'a' */
.video-insert {
    border-radius: 15px;  
    filter: invert(var(--img-invert-value));
}
.video-insert[data-disabled="true"] {
    cursor: not-allowed;
}
.video-insert[data-disabled="false"] {
    cursor: pointer;
}
/* Container 'c' */
.primary-container {
    display: flex;
    gap: 25px;
}
.primary-container .secondary-container {
    width: 45%;
}
.select-menu {
    width: 45%;
    font-size: var(--small-font-size);
    color: var(--font-color);
    background-color: var(--elm-hover-bg-color);
    border: solid 2px var(--translucent-bg-color); border-radius: 5px;
    padding: 5px;
}
.text-label {
    margin: 12.5px 0 5px 0;
    font-size: var(--medium-font-size);
}
.input-data {
    font-size: var(--small-font-size);
    width: 42%;
    
    background-color: var(--elm-hover-bg-color);
    border: solid 2px var(--translucent-bg-color); border-radius: 5px;
    padding: 5px;
}
.input-data:disabled {
    color: var(--check-button-hover-color);
}
.input-data:not(:disabled) {
    color: var(--font-color);
}
.btn {
    transition: all 0.25s ease;
    margin-top: 17.5px;
    border: solid 2px var(--translucent-bg-color);
    border-radius: 15px;
    background-color: #ffffff00; 
    color: var(--font-color); font-size: var(--small-font-size); font-weight: bold;
    padding: 7.5px;
    cursor: pointer;
}
.btn:not(:disabled):hover {
    background-color: var(--check-button-color);
}
.btn:disabled {
    color: var(--check-button-hover-color);
    cursor: not-allowed;
}