@media ((hover: none) and (pointer: coarse)) or (max-width: 980px) { /* Schermo Telefono */
    .main-container {grid-template-columns: 1fr; grid-template-rows: 1fr 1fr 1fr;}
    .custom-br {margin-top: 7.5%;}
}
@media ((hover: hover) and (pointer: fine)) and (min-width: 980px) { /* Schermo PC */
    .main-container {grid-template-columns: 1fr 1fr; grid-template-rows: 40% 40%;}
}

body {
    background-color: #ffffff00;
}
body, html {
    height: 100%;
    font-family: var(--font-family);
    color: var(--font-color);
    margin: 0;
}
*::-webkit-scrollbar {
    display: none;
}

.main-container {
    row-gap: 7.5%;
    overflow: auto;

    transition: all 0.25s ease;
    display: grid;
    height: 100%;
    background-color: var(--secondary-bg-color);
    margin: auto;
}
html.not-iframe .main-container {
    height: 100%;
}
html:not(.not-iframe) .main-container {
    border-radius: 25px;
    width: 95%;
}

.info-container {
    background-color: var(--menu-bg-color);
    border-radius: 15px;
    height: 100%;
    margin: 7.5%;
    min-width: 405px;
}
.info-container .title {
    font-size: var(--medium-font-size);
    padding-left: 1rem;
    margin-bottom: 5px;
}
.info-container .info-value {
    font-size: var(--small-font-size);
    padding-left: 1.5rem;
    margin-top: 0;
}
.info-container .title-XL {
    font-size: var(--XL-font-size);
    padding-left: 1.5rem;
    margin-bottom: 5px;
}
.info-container .percentage {
    font-size: var(--X-font-size);
    padding-left: 2.5rem;
    margin-top: 0;
}
.info-container .text-input {
    background-color: var(--secondary-bg-color);
    margin-left: 2.25rem;
    border-radius: 5px;
    border: none;
    width: 70%;
    padding: 2%;
    color: var(--font-color);
    font-size: var(--small-font-size);
}
.info-container .ico {
    width: calc(18.5px * var(--device-multiplier));
    aspect-ratio: 1/1;
    filter: invert(var(--img-invert-value));
}

.logout-container {
    display: flex;
    align-items: flex-end;
}
.logout-btn-ico {
    width: calc(24px * var(--device-multiplier));
    height: calc(26px * var(--device-multiplier));

    padding-right: 1rem;

    position: absolute;
    right: 0;
    cursor: pointer;

    filter: invert(var(--img-invert-value));
}
