@media (max-width: 1003px) { /* Schermo Telefono */
    .main-container[data-status="1"] .library-container {display: none;}

    .main-container {grid-template-columns: 1fr}
    .ico-small {width: 37px; height: 37px;}
    .header .button {height: 75px;width: 350px;}
    .modal-playlist .card {width: 77.5%;}
    .items .img-insert {width: 250px; height: 250px;}

    .playlists-grid .pl-item {max-width: 250px;}
    .pl-item .pl-img {height: 250px; width: 250px;}
    .playlists-grid {grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));}
}
@media (min-width: 1003px) { /* Schermo PC */
    .main-container[data-status="1"] {grid-template-columns: 35% 65%} /* Library + Player */
    .main-container[data-status="0"] {grid-template-columns: 100% 0%} /* Library */

    .ico-small {width: 18.5px; height: 18.5px;}
    .header .button {height: 40px;width: 150px;}
    .modal-playlist .card {width: 37.5%;}
    .items .img-insert {width: 175px; height: 175px;}

    .playlists-grid .pl-item {max-width: 150px;}
    .pl-item .pl-img {height: 150px; width: 150px;}
    .playlists-grid {grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));}

    .song-container {margin-left: 20px;}
}


* {
    transition: all 0.25s ease;
}

body {
    background-color: #ffffff00;
}
body, html {
    height: 100%;
    font-family: var(--font-family);
    color: var(--font-color);
    margin: 0;
}

.main-container::-webkit-scrollbar {
    display: none;
}
.main-container {
    transition: all 0.35s ease;
    will-change: grid-template-columns;
    row-gap: 7.5%;
    overflow: auto;

    display: grid;
    height: 100%;
    background-color: var(--containers-bg-color);
    margin: auto;
}

html.not-iframe .main-container {
    width: 100%;
}
html:not(.not-iframe) .main-container {
    width: 95%;
    border-radius: 25px;
}
/* Grid 1 */
html:not(.not-iframe) .library-container {
    height: min(94.85%, 100%);
}
html.not-iframe .main-container[data-status="0"] .library-container {margin: 20px;}
html.not-iframe .main-container[data-status="1"] .library-container {margin: 20px 0 20px 20px;}

/* Songs Container */
.main-container[data-status="0"] .song-container {display: none;}
html.not-iframe .song-container {margin: 20px}
.song-container {
    border-radius: 25px;
    background-color: var(--secondary-bg-color);
    padding: 17.5px;
    overflow: auto; 
}

.song-btn {
    border-radius: 100%;
    padding: 10px;
    border: 0;
    background-color: var(--elm-hover-bg-color);
}
.song-btn:hover {background-color: var(--ver-hover-bg-color);}
.song-btn img {
    width: 35px;
    height: 35px;
    filter: invert(var(--img-invert-value));
}

.song-container .playlist-songs {
    background-color: var(--menu-bg-color);
    border-radius: 15px;
    padding: 12.5px;
}
.playlist-songs .playlist-info {
    display: flex;
    gap: 15px
}
.playlist-info .image {
    width: 175px; /* Size Mobile = Size PC */
    height: 175px;
    border-radius: 15px;
}
.playlist-info .text #plDs-title {
    margin: 10px 0 0 0;
    font-size: var(--X-font-size);
    font-weight: bold;
}
.playlist-info .text #plDs-desc {
    margin: 2px 0 0 0;
    font-size: var(--mini-font-size);
}

.songs-table {
    border-collapse: collapse;
    width: 100%;
    font-size: var(--small-font-size);
}
.songs-table th {border-bottom: 1px solid var(--menu-bg-color);}
.songs-table td, th {
    text-align: left;
    padding: 8px;
}
.songs-table tr:last-child td:first-child {border-bottom-left-radius: 10px;} 
.songs-table tr:last-child td:last-child {border-bottom-right-radius: 10px;}
.songs-table .songTcontainer:hover {background-color: var(--menu-bg-color)}

/* Library Container (Playlist) */
.library-container {
    background-color: var(--secondary-bg-color);
    padding: 17.5px;
    border-radius: 25px;
    overflow: auto;
}
.library-container::-webkit-scrollbar {
    display: none;
}

.library-container .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 13.5%; */
    height: max-content;
    align-items: center;
}
.header .title {
    margin-left: 5px;
    font-size: var(--medium-font-size);
    font-weight: bold;
    margin: auto 0;
}
.header .title-secondary {
    margin: 0 0 0 auto;
    color: var(--elm-font-color);
    font-size: var(--small-font-size);
}
.header .button {
    transition: all 0.5s ease;
    color: var(--font-color);
    font-size: var(--small-font-size);
    background-color: var(--menu-bg-color);
    
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    cursor: pointer;
    border: 0;
    border-radius: 50px;
    font-weight: bold;
    gap: 5.25px;
}
.header .button:hover {
    background-color: var(--but-hover-bg-color);
}
/* Dropdown */
.header .dropdown {
    margin-top: .75px;
    position: relative;
    width: max-content;
}
.dropbtn {
    transition: all 0.25s ease;
    background-color: #ffffff00;
    color: var(--elm-font-color);
    padding: 5px;
    font-size: var(--small-font-size);
    border: none;
    cursor: pointer;
}
.dropdown:hover .dropbtn {
    color: var(--font-color);
    /* font-size: calc(var(--small-font-size) + .75px); */ /* It bugs the header height */
}
.dropdown-content {
    display: none;

    opacity: 0;
    transition: all 0.5s allow-discrete;

    position: absolute;
    border-radius: 5px;
    background-color: var(--menu-bg-color);
    min-width: max-content;
    padding: 3.25px;
}
.dropdown-content a {
    transition: all 0.5s allow-discrete;
    color: var(--font-color);
    padding: 5px 7px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--small-font-size);
}
.dropdown-content a:hover {
    background-color: var(--ver-hover-bg-color);
    border-radius: 5px;
}
.dropdown:hover .dropdown-content {
    display: block;

    opacity: 1;
    @starting-style {
        opacity: 0;
    }
}
/* --- */

/* Modals */
.close-button {
    width: max-content;
    color: var(--elm-font-color);
    font-size: var(--small-font-size);
    margin: 0;
    cursor: pointer;
}
/* Modal Playlist */
html.not-iframe .modal-playlist {
    width: 100%;
}
html:not(.not-iframe) .modal-playlist {
    width: 95%; border-radius: 25px;
}
.modal-playlist {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    background-color: var(--translucent-bg-color);
}
.modal-playlist .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-bg-color);
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.card .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--medium-font-size);
    margin-bottom: 15px;
} .card .title p {margin: 0; font-weight: bold;}
.card .items {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    gap: 10px;
}
.items .img-insert {
    border-radius: 15px;
    cursor: pointer;
    filter: invert(var(--img-invert-value));
}
.inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.inputs .input-field {
    background-color: var(--ver-hover-bg-color);
    border: none;
    color: var(--font-color);
    font-size: calc(var(--small-font-size) - 3.5px);
    border-radius: 5px;
    width: 87.5%;
    padding: 10px;
}
.inputs .textarea-field {
    background-color: var(--ver-hover-bg-color);
    border: none;
    color: var(--font-color);
    font-size: calc(var(--small-font-size) - 3.5px);
    border-radius: 5px;
    width: 87.5%;
    padding: 10px;
    resize: none;
    height: 57.5%;
}
.card .button {
    align-self: flex-end;
    background-color: var(--font-color);
    border: none;
    color: var(--inv-color);
    font-size: var(--small-font-size);
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 15px;
}


/* Playlists */

.playlists-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}
.playlists-grid {
    display: grid;
    justify-items: center;
    gap: 20px;
    padding: 20px;
}
.playlists-details .pl-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
}
.playlists-grid .pl-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
    cursor: pointer;
}
.pl-item {
    padding: 10px;
    border-radius: 7.5px;
}
.pl-item:hover {
    background-color: var(--ver-hover-bg-color);
}
.pl-item .pl-img {
    border-radius: 15px;
}
.pl-item .pl-text {
    margin: 0 0 0 2.5px;
    font-size: var(--small-font-size);
}

/* Icons */
.ico-small {
    filter: invert(var(--img-invert-value));
}