@media (max-width: 1003px) { /* Schermo Telefono */
    .main-container[data-status="1"] .library-container {display: none;}
    .main-container[data-play="1"] {grid-template-rows: 1fr 0.125fr;} /* Row1 + Row2 (player) */
    html:not(.not-iframe) .main-container {row-gap: 1.5%;}

    .main-container {grid-template-columns: 1fr}
    .ico-small {width: 37px; height: 37px;}
    .header .button {height: 75px;width: 350px;}
    .modal-playlist .card {width: 77.5%;}
    .items .img-insert {width: 250px; height: 250px;}

    .playlists-grid .pl-item {max-width: 250px;}
    .pl-item .pl-img {height: 250px; width: 250px;}
    .playlists-grid {grid-template-columns: repeat(auto-fill, minmax(205px, 1fr));}

    .song-btn {padding: 15px;}
    .song-btn img {width: 60px; height: 60px;}
    .titleSong-column img {width: 82.5px; height: 82.5px; border-radius: 15px;}
    .songs-table {margin-top: 20px;}
    *[data-visible="0"] {display: none;}
    .songTable-delete img {width: 35px; height: 40px;}

    .up .song-details {display: none;}
    .up .music-buttons button img {width: 68px; height: 68px;}
    .player-container .up {margin-top: 15px;}
    .volume-slider {display: none;}

    .player-container .down #playerRange::-webkit-slider-runnable-track, .player-container .down #playerRange {height: 11.25px;}
    .player-container .down #playerRange::-webkit-slider-runnable-track {
        background-color: var(--selected-theme-bg-color);
        background: linear-gradient(to right, var(--selected-theme-bg-color) var(--range-progress-width, 0%), #ffffff00 var(--range-progress-width, 0%));
    }
    .player-container .down #playerRange::-webkit-slider-thumb {
        width: 20.5px; height: 20.5px;
        background-color: var(--font-color);
    }
}
@media (min-width: 1003px) { /* Schermo PC */
    .main-container[data-status="1"] {grid-template-columns: 35% 65%} /* Library + Player */
    .main-container[data-status="0"] {grid-template-columns: 100% 0%} /* Library */
    .main-container[data-play="1"] {grid-template-rows: 1fr 0.2fr;} /* Row1 + Row2 (player) */
    html:not(.not-iframe) .main-container[data-play="1"] {row-gap: 3.5%;}

    .ico-small {width: 18.5px; height: 18.5px;}
    .header .button {height: 40px;width: 150px;}
    .modal-playlist .card {width: 37.5%;}
    .items .img-insert {width: 175px; height: 175px;}

    .playlists-grid .pl-item {max-width: 150px;}
    .pl-item .pl-img {height: 150px; width: 150px;}
    .playlists-grid {grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));}

    .song-container {margin-left: 20px;}
    .song-btn {padding: 10px;}
    .song-btn img {width: 30px; height: 30px;}
    .titleSong-column img {width: 40px; height: 40px; border-radius: 7.5px;}
    .songTable-delete img {width: 29px; height: 32px;}

    .up .song-details {display: flex;}
    .up .music-buttons button img, .player-container .volume-slider img {width: 28px; height: 28px;}
    .player-container .up .volume-slider {display: flex; align-items: center;}
    .player-container .down #playerRange::-webkit-slider-runnable-track, .player-container .down #playerRange {height: 5.25px;}

    .player-container .down #playerRange:not(:hover)::-webkit-slider-runnable-track {
        background-color: var(--font-color);
        background: linear-gradient(to right, var(--font-color) calc(var(--range-progress-width) - 6px), rgba(0,0,0,0) var(--range-progress-width));
    }
    .player-container .down #playerRange:hover::-webkit-slider-runnable-track {
        background-color: var(--selected-theme-bg-color);
        background: linear-gradient(to right, var(--selected-theme-bg-color) var(--range-progress-width, 0%), #ffffff00 var(--range-progress-width, 0%));
    }
    .player-container .down #playerRange::-webkit-slider-thumb {
        width: 14.5px; height: 14.5px;
        opacity: 0; transform: scale(0.6);
        transition: opacity 0.3s ease, transform 0.35s ease;
        background-color: var(--font-color);
    }
    .player-container .down #playerRange:hover::-webkit-slider-thumb {
        opacity: 1; transform: scale(1);
    }
}


* {
    transition: all 0.25s ease;
}

body {
    background-color: #ffffff00;
}
body, html {
    height: 100%;
    font-family: var(--font-family);
    color: var(--font-color);
    margin: 0;
}

*::-webkit-scrollbar {
    display: none;
}
.main-container {
    transition: all 0.35s ease;
    will-change: grid-template-columns, grid-template-rows;
    
    overflow: auto;

    display: grid;
    height: 100%;
    background-color: var(--containers-bg-color);
    margin: auto;
}
.main-container[data-play="0"] {
    grid-template-rows: 1fr 0fr;
}

html.not-iframe .main-container {
    width: 100%;
    row-gap: 0;
}
html:not(.not-iframe) .main-container {
    width: 95%;
    border-radius: 25px;
}
/* Grid 1 */
html.not-iframe .main-container[data-status="0"] .library-container {margin: 20px;}
html.not-iframe .main-container[data-status="1"] .library-container {margin: 20px 0 20px 20px;}

/* Player Container */
html.not-iframe .main-container[data-play="1"] .player-container {margin: 0px 20px 20px 20px;}
.main-container[data-play="0"] .player-container {display: none;}
.main-container[data-play="1"] .player-container {display: grid; row-gap: 5px;}
.player-container {
    border-radius: 25px;
    background-color: var(--secondary-bg-color);
    padding: 12.5px;
    overflow: auto; 
    grid-column: span 2;
}
.up, .down, .down div {
    display: flex;
    align-items: center;
}
.player-container .up {justify-content: space-between;}
.player-container p {
    margin: 0;
    font-size: var(--mini-font-size);
    word-break: break-word;
}
.up .music-buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.up .music-buttons button {
    border: 0;
    background-color: #ffffff00;
    transition: none;
}
.up .music-buttons button.on {
    border-radius: 5px;
    border: 1.75px solid var(--font-color);
}
.music-buttons button img, .player-container .volume-slider img {
    filter: invert(var(--img-invert-value));
    cursor: pointer;
}
.volume-slider input {
    width: 65%;
}
.up .song-details {
    align-items: center;
    gap: 7.5px;
    width: 275px;
}
.player-container .up #playerImg {
    width: 58px;
    height: 58px;
    border-radius: 5px;
}

.player-container .down {justify-content: space-evenly;}
.player-container .down #playerRange {
    -webkit-appearance: none; appearance: none;
    width: 80%;
    border-radius: 4.5px;
    background-color: var(--elm-font-color);
}
.player-container .down #playerRange::-webkit-slider-thumb {
    -webkit-appearance: none; appearance: none;
    border-radius: 100%;
    margin-top: -4.75px;
}
.player-container .down #playerRange::-webkit-slider-runnable-track {
    appearance: none;
    border-radius: 4.5px;
}



/* Songs Container */
.main-container[data-status="0"] .song-container {display: none;}
html.not-iframe .song-container {margin: 20px}
.song-container {
    border-radius: 25px;
    background-color: var(--secondary-bg-color);
    padding: 17.5px;
    overflow: auto; 
}

.song-btn {
    border-radius: 100%;
    border: 0;
    background-color: var(--elm-hover-bg-color);
    cursor: pointer;
}
.song-btn:hover {background-color: var(--ver-hover-bg-color);}
.song-btn img {
    filter: invert(var(--img-invert-value));
}
.song-btn.clicked-del { background-color: var(--del-bg-color); }
.song-btn.clicked-del:hover { background-color: var(--del-hover-bg-color); }

.song-container .playlist-songs {
    background-color: var(--menu-bg-color);
    border-radius: 15px;
    padding: 12.5px;
}
.playlist-songs .playlist-info {
    display: flex;
    gap: 15px
}
.playlist-info .image {
    width: 175px; /* Size Mobile = Size PC */
    height: 175px;
    border-radius: 15px;
}
.playlist-info .text {
    width: 100%;
}
.playlist-info .text .title-sep {
    display: flex;
    justify-content: space-between;
}
.text .title-sep #plDs-title {
    margin: 10px 0 0 0;
    font-size: var(--X-font-size);
    font-weight: bold;
}
.text .close {
    margin: 0;
    cursor: pointer;
    font-size: var(--small-font-size);
}
.text #plDs-desc {
    margin: 2px 0 0 0;
    font-size: var(--mini-font-size);
}

.songs-table {
    border-collapse: collapse;
    width: 100%;
    font-size: var(--small-font-size);
}
.songs-table th {border-bottom: 1px solid var(--menu-bg-color);}
.songs-table td, th {
    text-align: left;
    padding: 8px;
}

.songs-table tr:last-child td:first-child {border-bottom-left-radius: 10px;} 
.songs-table tr:last-child td:last-child {border-bottom-right-radius: 10px;}
.songs-table .songTcontainer {cursor: pointer;}
.songs-table .songTcontainer:hover {background-color: var(--menu-bg-color)}

.songs-table .songTcontainer :nth-child(3) {line-break: anywhere}

.titleSong-column {
    display: flex;
    width: 90%;
    gap: 10px;
    align-items: center;
}
.titleSong-column p {
    margin: 0;
    overflow: hidden;
    font-size: var(--small-font-size);
}
.songTable-delete {
    background-color: var(--ver-hover-bg-color);
    border: 0;
    border-radius: 10px;
    padding: 2.5px 5.5px 2.5px 5.5px;
    cursor: pointer;
}
.songTable-delete img {
    filter: invert(var(--img-invert-value));
}
/* Library Container (Playlist) */
.library-container {
    background-color: var(--secondary-bg-color);
    padding: 17.5px;
    border-radius: 25px;
    overflow: auto;
    height: auto;
}

.library-container .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* height: 13.5%; */
    height: max-content;
    align-items: center;
}
.header .title {
    margin-left: 5px;
    font-size: var(--medium-font-size);
    font-weight: bold;
    margin: auto 0;
}
.header .title-secondary {
    margin: 0 0 0 auto;
    color: var(--elm-font-color);
    font-size: var(--small-font-size);
}
.header .button {
    transition: all 0.5s ease;
    color: var(--font-color);
    font-size: var(--small-font-size);
    background-color: var(--menu-bg-color);
    
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    cursor: pointer;
    border: 0;
    border-radius: 50px;
    font-weight: bold;
    gap: 5.25px;
}
.header .button:hover {
    background-color: var(--but-hover-bg-color);
}
/* Dropdown */
.header .dropdown {
    margin-top: .75px;
    position: relative;
    width: max-content;
}
.dropbtn {
    transition: all 0.25s ease;
    background-color: #ffffff00;
    color: var(--elm-font-color);
    padding: 5px;
    font-size: var(--small-font-size);
    border: none;
    cursor: pointer;
}
.dropdown:hover .dropbtn {
    color: var(--font-color);
    /* font-size: calc(var(--small-font-size) + .75px); */ /* It bugs the header height */
}
.dropdown-content {
    display: none;

    opacity: 0;
    transition: all 0.5s allow-discrete;

    position: absolute;
    border-radius: 5px;
    background-color: var(--menu-bg-color);
    min-width: max-content;
    padding: 3.25px;
}
.dropdown-content a {
    transition: all 0.5s allow-discrete;
    color: var(--font-color);
    padding: 5px 7px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: var(--small-font-size);
}
.dropdown-content a:hover {
    background-color: var(--ver-hover-bg-color);
    border-radius: 5px;
}
.dropdown:hover .dropdown-content {
    display: block;

    opacity: 1;
    @starting-style {
        opacity: 0;
    }
}
/* --- */

/* Add Songs */
.songs-input {
    opacity: 0;
    margin-left: 2%;
    background-color: var(--ver-hover-bg-color);
    border-radius: 5px;
    border: none;
    padding: 1%;
    height: 70%;
    color: var(--font-color);
    font-size: var(--small-font-size);
    min-width: 0;
}
.songs-input:disabled {
    cursor: not-allowed;
}
.songs-input.animate {
    animation: fade-in 0.8s ease-out forwards;
}
.songs-input.animate.out {
    animation: fade-out 0.8s ease-out forwards;
}
@keyframes fade-in {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
@keyframes fade-out {
    0% { opacity: 1;}
    100%   { opacity: 0;}
}

/* Modal Playlist */
html.not-iframe .modal-playlist {
    width: 100%;
}
html:not(.not-iframe) .modal-playlist {
    width: 95%; border-radius: 25px;
}
.modal-playlist {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    background-color: var(--translucent-bg-color);
}
.modal-playlist .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--secondary-bg-color);
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
.card .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--medium-font-size);
    margin-bottom: 15px;
} .card .title p {margin: 0; font-weight: bold;}
.card .items {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    gap: 10px;
}
.items .img-insert {
    border-radius: 15px;
    cursor: pointer;
    filter: invert(var(--img-invert-value));
}
.inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.inputs .input-field {
    background-color: var(--ver-hover-bg-color);
    border: none;
    color: var(--font-color);
    font-size: calc(var(--small-font-size) - 3.5px);
    border-radius: 5px;
    width: 87.5%;
    padding: 10px;
}
.inputs .textarea-field {
    background-color: var(--ver-hover-bg-color);
    border: none;
    color: var(--font-color);
    font-size: calc(var(--small-font-size) - 3.5px);
    border-radius: 5px;
    width: 87.5%;
    padding: 10px;
    resize: none;
    height: 57.5%;
}
.containerDs-butttons {
    display: flex;
    align-items: center;
    gap: 5px;
}
.card .button {
    align-self: flex-end;
    background-color: var(--font-color);
    border: none;
    color: var(--inv-color);
    font-size: var(--small-font-size);
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 15px;
}
.card .button:disabled {
    background-color: var(--elm-font-color);
    cursor: not-allowed;
}
.close-button {
    width: max-content;
    color: var(--elm-font-color);
    font-size: var(--small-font-size);
    margin: 0;
    cursor: pointer;
}

/* Playlists */
.playlists-details {
    display: grid;
    gap: 20px;
}
.main-container[data-status="0"] .playlists-details {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.main-container[data-status="1"] .playlists-details {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}
.playlists-grid {
    display: grid;
    justify-items: center;
    gap: 20px;
    padding: 20px;
}
.playlists-details .pl-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
}
.playlists-grid .pl-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
    cursor: pointer;
}
.pl-item {
    padding: 10px;
    border-radius: 7.5px;
}
.pl-item:hover {
    background-color: var(--ver-hover-bg-color);
}
.pl-item .pl-img {
    border-radius: 15px;
}
.pl-item .pl-text {
    margin: 0 0 0 2.5px;
    font-size: var(--small-font-size);
}

/* Icons */
.ico-small {
    filter: invert(var(--img-invert-value));
}