:root {
    --text-color: #fff;
    --box-shadow-color: rgba(70, 70, 70, 0.527);


    --title_font-size: 32px;
    --elemets_font-size: 18px;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media (max-width: 1003px) { /* Schermo Telefono */
    :root {
        --title_font-size: 42px;
        --elemets_font-size: 28px;
    }
    .login-card {
        min-width: 660px;
        box-shadow: 0 0 9px 5px var(--box-shadow-color);
    }
    .input-text {
        height: 85.5px;
    }
    .button-login {
        height: 75px;
    }
    .login-card {
        background-color: #29282859
    }
}
@media (min-width: 1003px) { /* Schermo PC */
    .login-card {
        min-width: 460px;
        box-shadow: 0 0 9px 2px var(--box-shadow-color);
    }
    .input-text {
        height: 65.5px;
    }
    .button-login {
        height: 60px;
    }
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('/website/img/login-bk.webp');
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;

    color: var(--text-color);
    font-family: var(--font-family);
}

.login-card {
    margin: auto;
    margin-top: 10%;
    backdrop-filter: blur(7.5px);
    
    padding: 20px;
    border-radius: 24px;

    display: flex;
    flex-direction: column;
    width: 35%;
    height: max-content;
}

.title {
    font-size: var(--title_font-size);
    text-align: center;
    margin-bottom: 0px;
}
.status {
    text-align: center;
    font-size: var(--elemets_font-size);
    color: #c81e1e;
    margin-top: 10px;
    margin-bottom: 2.5px;
  
    opacity: 0;
    transform: scale(0.8);
}

.status.animate {
    animation: zoomIn 0.8s ease-out forwards;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.input-text {
    margin-left: 10px;
    margin-bottom: 15px;

    font-family: var(--font-family);
    font-size: var(--elemets_font-size);
    color: var(--text-color);
    background-color: #ffffff00;
    border-color: #fff;
    outline: none;

    width: 80%;

    margin: 0 auto 8.5% auto;
    border-radius: 44px;

    padding-left: 20px;
    padding-right: 20px;
}
::placeholder {
    font-size: var(--elemets_font-size);
    color: var(--text-color);
}

.button-login {
    filter: invert(1);

    font-family: var(--font-family);
    font-size: calc(var(--elemets_font-size) + 3.5px);
    color: var(--text-color);
    text-align: center;
    align-content: center;

    background-color: #000000;
    border: none;
    outline: none;

    width: 40%;
    margin: 0 auto 8.5% auto;
    border-radius: 44px;

    cursor: pointer;
    transition: all 0.3s ease;
}
.button-login:hover {
    filter: invert(0);
    transform: scale(1.02);
    border: 1px solid #fff;
}